@import "../../variables";
.container {
  width: 350px;
  height: 300px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($map: $colors, $key: "secndary");
  border: solid map-get($map: $colors, $key: "darkred");
  border-radius: 20px;
  img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  .server {
    color: white;
    font-weight: bold;
  }
  .tier {
    font-weight: bold;
  }
}
.image {
  position: relative;
}
.tiers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.banned {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  top: 55px;
  left: 65px;
  width: 200px;
  height: 90px;
  background-color: map-get($map: $colors, $key: "secndary2");
  small {
    font-size: 0.8rem;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.picked {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  top: 55px;
  left: 65px;
  width: 200px;
  height: 90px;
  background-color: #52d746;
  small {
    font-size: 0.8rem;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.decider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  top: 55px;
  left: 65px;
  width: 200px;
  height: 90px;
  background-color: #4668d7;
}
.b-button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: map-get($map: $colors, $key: "secndary2");
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.b-button:hover {
  background: map-get($map: $colors, $key: "darkred");
}

.b-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.p-button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #52d746;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.p-button:hover {
  background: #1daa1d;
}

.p-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
