<div class="container">
  <h2 class="name">{{map.name}}</h2>
  <div class="image">
    <div class="banned" *ngIf="map.status == 1">Banned <small>
        {{map.player!=""?"by "+map.player:''}}</small></div>
    <div class="picked" *ngIf="map.status == 2">Picked
      <small>
        {{map.player!=""?"by "+map.player:''}}</small></div>
    <div class="decider" *ngIf="map.status == 3">Decider</div>
    <img [src]="lobby.imageUrl+map.imageSrc">
  </div>
  <div class="tiers">
    <p class="tier">Tier {{map.tier}}</p>
    <p class="tier">{{map.style}}</p>
  </div>
  <button class="b-button" *ngIf="showBanButton() == true"
    (click)="onBanButton()">Ban</button>
  <button class="p-button" *ngIf="showPickButton() == true"
    (click)="onPickButton()">Pick</button>
</div>
