<div class="container">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam obcaecati ea
    quibusdam excepturi rem debitis amet consequuntur magnam voluptatibus? Quam
    recusandae vel fuga dicta eveniet voluptatibus possimus eius minus ea.</p>
  <p>Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Ullam obcaecati ea
    quibusdam excepturi rem debitis amet consequuntur magnam voluptatibus? Quam
    recusandae vel fuga dicta eveniet voluptatibus possimus eius minus ea.</p>
  <p>Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Ullam obcaecati ea
    quibusdam excepturi rem debitis amet consequuntur magnam voluptatibus? Quam
    recusandae vel fuga dicta eveniet voluptatibus possimus eius minus ea.</p>
  <p>Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Ullam obcaecati ea
    quibusdam excepturi rem debitis amet consequuntur magnam voluptatibus? Quam
    recusandae vel fuga dicta eveniet voluptatibus possimus eius minus ea.</p>
  <button class="c-button">Generate Lobby</button>
</div>
