<div class="container" *ngIf="lobby.showLobby==false">
  <div class="checkboxes">
    <div class="servers">
      <label>
        KSF
        <input type="radio" name="server" value="KSF"
          [(ngModel)]="server">
      </label>
      <div>
        <label>
          Cybershoke
          <input type="radio" name="server" value="Cybershoke"
            [(ngModel)]="server">
        </label>
      </div>
    </div>
    <div class="servers">
      <label>Tiers</label>
      <label>
        1
        <input type="checkbox" [(ngModel)]="isT1">
      </label>
      <label>
        2
        <input type="checkbox" [(ngModel)]="isT2">
      </label>
      <label>
        3
        <input type="checkbox" [(ngModel)]="isT3">
      </label>
      <label>
        4
        <input type="checkbox" [(ngModel)]="isT4">
      </label>
      <label>
        5
        <input type="checkbox" [(ngModel)]="isT5">
      </label>
      <label>
        6
        <input type="checkbox" [(ngModel)]="isT6">
      </label>
    </div>
  </div>
  <div class="players">
    <input type="text" [(ngModel)]="player1" placeholder="player1">
    <input type="text" [(ngModel)]="player2" placeholder="player2">
  </div>
  <button class="c-button" (click)="createDuel()">Generate Duel</button>
  <button class="c-button" (click)="createTournamentBO3()">Generate
    TournamentBO3</button>
  <button class="c-button" (click)="createTournamentBO5()">Generate
    TournamentBO5</button>
</div>
<app-lobby *ngIf="lobby.showLobby==true"></app-lobby>
