@import "../variables";
.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
  background: map-get($map: $colors, $key: "primary");
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
